<!DOCTYPE html>
<html lang="en" ng-app="classifiedsMain">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="description" content="Classified webfront." />
<meta name="author" content="Adam Darmanin" />

<link rel="stylesheet"
	href="webjars/bootstrap/${bootstrap.version}/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="webjars/bootstrap-modal/${bootstrap-modal.version}/css/bootstrap-modal.css" />

<script src="webjars/jquery/${jquery.version}/jquery.min.js" />
<script type="text/javascript"
	src="webjars/bootstrap/${bootstrap.version}/js/bootstrap.min.js" />
<script type="text/javascript"
	src="webjars/bootstrap-modal/${bootstrap-modal.version}/js/bootstrap-modal.js" />
<script type="text/javascript"
	src="webjars/angularjs/${angularjs.version}/angular.min.js" />
<script type="text/javascript"
	src="webjars/angular-ui-bootstrap/${angular-ui-bootstrap.version}/ui-bootstrap.min.js" />

<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"/>
  <![endif]-->

<title>Classifieds</title>

</head>

<body>
	<h2>Welcome to Classifieds</h2>
	<p>Classifieds</p>
	<table id="classifiedTableId">
		<tr>
			<th>Title</th>
			<th>Price</th>
			<th>Email</th>
			<th>Phone</th>
			<th>City</th>
			<th>Category</th>
		</tr>
		<tr ng-repeat="classified in classifieds">
			<td>{{classified.title}}</td>
			<td>{{classified.price}}</td>
			<td>{{classified.email}}</td>
			<td>{{classified.phone}}</td>
			<td>{{classified.city}}</td>
			<td>{{classified.category}}</td>
		</tr>
	</table>
	<p>
		<button>Add</button>
		- Add new classified.
	</p>
	<div id="addClassifiedModalDiv">
		<form>
			<label>Title: </label> <input ng-model="newClassified.title" /> <label>Price:
			</label><input ng-model="newClassified.price" /> <label>Email: </label><input
				ng-model="newClassified.email" /><label>Phone: </label><input
				ng-model="newClassified.phone" /><label>City: </label> <input
				ng-model="newClassified.city" /><label>Category: </label> <select
				ng-model="newClassified.category">
				<option value="CARS">Cars</option>
				<option value="PHONES">Phones</option>
				<option value="SERVICES">Services</option>
			</select>
		</form>
	</div>
</body>
</html>