<!DOCTYPE html>
<html lang="en" ng-app="classifiedsMain">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="description" content="Classified webfront." />
<meta name="author" content="Adam Darmanin" />


<link rel="stylesheet" href="assets/css/root.css" />
<link rel="stylesheet"
	href="webjars/bootstrap/3.2.0/css/bootstrap.min.css" />

<script type="text/javascript" src="webjars/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript"
	src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="webjars/angularjs/1.2.12/angular.min.js"></script>
<script type="text/javascript"
	src="webjars/angularjs/1.2.12/angular-resource.min.js"></script>
<script type="text/javascript"
	src="webjars/angular-ui-bootstrap/0.11.0/ui-bootstrap.min.js"></script>

<script type="text/javascript" src="assets/js/service/classifieds.js"></script>
<script type="text/javascript" src="assets/js/controller/classifieds.js"></script>
<script type="text/javascript" src="assets/js/classifiedsApp.js"></script>

<title>Classifieds</title>

</head>

<body ng-controller="classifiedsCtrl" class="container">
	<!-- /.modal -->
	<div id="addClassifiedModalDiv" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">Confirmation</h4>
				</div>
				<div class="modal-body">
					<form name="classifiedForm" novalidate>
						<div class=" alert-danger" role="alert"
							ng-show="!classifiedForm.$valid">
							<strong>Warning!</strong> You have errors in the inputs, cannot
							submit.
						</div>
						<table>
							<tr>
								<td><label>Title: </label></td>
								<td><input ng-model="newClassified.title"
									class="form-control" required
									placeholder="{{newClassified.title}}" /></td>
							</tr>
							<tr>
								<td><label>Description: </label></td>
								<td><input ng-model="newClassified.text"
									class="form-control" required
									placeholder="{{newClassified.text}}" /></td>
							</tr>
							<tr>
								<td><label>Price: </label></td>
								<td><input ng-model="newClassified.price"
									class="form-control" type="number"
									placeholder="{{newClassified.price}}" /></td>
							</tr>
							<tr>
								<td><label>Email: </label></td>
								<td><input ng-model="newClassified.email"
									class="form-control" required type="email"
									placeholder="{{newClassified.email}}" /></td>
							</tr>
							<tr>
								<!-- Due to localisation, tel is a simple text until format is provided -->
								<td><label>Phone: </label></td>
								<td><input ng-model="newClassified.phone"
									class="form-control" type="tel"
									placeholder="{{newClassified.phone}}" /></td>
							</tr>
							<tr>
								<td><label>City: </label></td>
								<td><input ng-model="newClassified.city"
									class="form-control" required
									placeholder="{{newClassified.city}}" /></td>
							</tr>
							<tr>
								<td><label>Category: </label></td>
								<td><select ng-model="newClassified.category"
									class="form-control">
										<option value="CARS" selected="selected">Cars</option>
										<option value="PHONES">Phones</option>
										<option value="SERVICES">Services</option>
								</select></td>
							</tr>
						</table>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="cancel()">Close</button>
					<button type="button" class="btn btn-primary start"
						data-loading-text="<i class='icon-spinner icon-spin icon-large'></i> @Localization.Saving"
						ng-disabled="!classifiedForm.$valid" ng-click="save()">Save
						changes</button>
				</div>
			</div>
		</div>
	</div>

	<h2>Welcome to Classifieds - TEST</h2>

	<p>
		Classifieds -> filer by category: <select ng-model="categoryFilter"
			ng-change="filterByCategory()">
			<option value="ALL" selected="selected">All</option>
			<option value="CARS">Cars</option>
			<option value="PHONES">Phones</option>
			<option value="SERVICES">Services</option>
		</select>
	</p>
	<table id="classifiedTableId" class="table">
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Price</th>
			<th>Email</th>
			<th>Phone</th>
			<th>City</th>
			<th>Category</th>
		</tr>
		<tr ng-repeat="classified in classifieds">
			<td>{{classified.title}}</td>
			<td>{{classified.text}}</td>
			<td>{{classified.price}}</td>
			<td>{{classified.email}}</td>
			<td>{{classified.phone}}</td>
			<td>{{classified.city}}</td>
			<td>{{classified.category}}</td>
		</tr>
	</table>
	<p>
		<button class="btn btn-primary" data-toggle="modal"
			data-target="#addClassifiedModalDiv">Add</button>
		- Add new classified.
	</p>


</body>
</html>